
    <div class="hero">
        <h1>Commande N° 1</h1>
    <p>12-12-2024</p>
    </div>
    <div class="details">
        <h2>Lorem ipsum rer</h2>
        <p>Lorem ipsum rer</p>
    </div>
    <div class="details-2">
        <div>
            <h2>hey hey :</h2>
            <p>eqro eor</p>
        </div>
        <div>
            <h2>hey hey :</h2>
            <p>eqro eor</p>
        </div>

    </div>
    <div class="details-3">
        <h2>Details : </h2>
        <div class="items">
        @for (item of [1,2,3]; track $index) {
           
                <app-dashboard-order-details />
           
            
        }
    </div>
    </div>

    <div class="price">
        <h2>Total</h2>
        <p>122 <span>DHS</span></p>
    </div>
   
    <div class="action">
       
        <button class="status">En cours</button>
        <button class="modern-button a"><svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 11.917 9.724 16.5 19 7.5"/>
          </svg>
          </button>
        <button class="modern-button b"><svg class="w-6 h-6  text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18 17.94 6M18 18 6.06 6"/>
          </svg>
          </button>
    </div>

    

