@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:host {
    width: 60%;
    height: 100%;
    font-family: "Roboto";
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}
