<h3 class="text-2xl font-bold italic flex flex-col">
    Order Summary
    <span class="text-sm font-light">
        Review the details of your order before confirming it. Make sure everything is just the way you want it!
    </span>
</h3>    
<p class="text-gray-700" *ngIf="OrderData$ | async as orderData">
    Order placed on:
    <span class="text-primary">{{ formatDate(orderData.orderDate) }} </span>    
</p>
<div class="w-full h-[5rem] flex flex-col gap-1">
    <h2 class="text-lg italic">Payment Method</h2>
    <app-payments></app-payments>
</div>
<div class="w-full h-[5rem] flex flex-col gap-1" *ngIf="isSelected">
    <h2 class="text-lg italic">How much cash will you provide?</h2>
    <input [min]="fullprice" *ngIf="FullPrice$ | async as fullprice" type="number" [(ngModel)]="Change" placeholder="Enter the amount of cash you will pay" class="border rounded-md p-2">
</div>
<div class="flex justify-end flex-col w-full h-full p-3 gap-3">



    @if (PaymenMethod=="Cash") {
    <p class="flex justify-between w-full">
        <span class="flex flex-col text-secondary">
            Change to return :
        <span class="text-primary">Don’t worry! Our team will ensure you get the correct change.</span>
        </span> 
        <span class="font-bold">{{CalculateChange()}}</span>
    </p>
    }

    <p *ngIf="PaymenMethod" class="flex justify-between">
        Payment method : <span class="font-bold text-secondary">{{PaymenMethod ?? "Still no payment"}}</span>
    </p>
    
    <p *ngIf="FullPrice$ | async as fullPrice;" class="w-full flex justify-between">
        <span class="text-secondary font-bold text-xl">Full Price:</span>
         <span class="font-bold text-xl text-secondary">${{ fullPrice ?? 0}}</span>
      </p>
      
      <p class="text-gray-700 flex justify-between" *ngIf="OrderData$ | async as orderData">
        <span class="relative flex flex-col">
            <ng-icon class="absolute -left-6 top-1" name="faPaperPlane"></ng-icon>
            <span class="text-secondary">Estimated preparation time:</span>
            <span>We’ll notify you once your order is ready for pickup or delivery!</span>
        </span>
        <span class="font-bold text-green-400">{{ orderData.total_preparation_time }}</span>  
    </p>
      <div class="flex justify-end">
        <Button class="bg-primary text-white p-2 rounded-lg ps-4 pe-4">Order</Button>
      </div>
</div>