<h3 class="text-2xl font-bold italic flex flex-col">
    Order Summary
    <span class="text-sm font-light">
        Review the details of your order before confirming it. Make sure everything is just the way you want it!
    </span>
</h3>  

<!-- Order Text-->
<app-summary-paragraphs [text]="'Order placed on:'" *ngIf="OrderData$ | async as orderData" [data]="formatDate(orderData.orderDate)"></app-summary-paragraphs>
<!-- Payment Method-->
<app-payment-method></app-payment-method>

<!-- The change the client will provide us-->
<div class="w-full h-[5rem] flex flex-col gap-1" *ngIf="isSelected">
    <h2 class="text-lg italic">How much cash will you provide?</h2>
    <input (ngModelChange)="CalculateChange()" [min]="fullprice" *ngIf="FullPrice$ | async as fullprice" type="number" [(ngModel)]="Change" placeholder="Enter the amount of cash you will pay" class="border rounded-md p-2">
</div>

<!-- Summary Infos , below-->
<app-summary-infos [clientChange]="this.clientChange!"></app-summary-infos>
