<div class="container">
    <h1>Gestion des Repas</h1>
    <table class="meal-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Image</th>
                <th>Nom</th>
                <th>Catégorie</th>
                <th>Description</th>
                <th>Temps de préparation</th>
                <th>Prix</th>
                <th>Quantité</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
          <app-dashboard-meal-item/>
            
        </tbody>
    </table>
</div>