<div class="flex justify-between min-h-[90vh] items-center relative">
    <div class="container mx-auto flex justify-between min-h-[90vh] items-center">
        <div class="flex flex-col gap-5 w-[40%]">
            <h1 class="text-5xl font-bold text-primary">Delicious Dishes</h1>
            <h1 class="text-5xl font-bold text-secondary">For Food Lovers</h1>
            <p class="text-[.9rem] text-gray-500">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque sapiente nemo beatae dolores ab. Iure cumque, tenetur deleniti quia impedit obcaecati repellendus beatae aliquam ducimus sed accusamus cupiditate totam dignissimos!</p>
            <button class="bg-primary w-[25%] text-[.85rem] py-[.6rem] rounded-3xl opacity-90 text-white font-medium hover:opacity-70">Explore Recipes</button>
        </div>
        <img src="assets/images/home-hero-img.png" class="w-[40%]" alt="">
    </div>

    <div class="absolute w-[100%] right-0 h-[100vh] z-[-1] top-0">
        <img src="assets/images/home-hero-bg.png" class="w-full h-full object-cover opacity-10" alt="">
    </div>
</div>

