<div class="flex justify-end flex-col w-full h-full p-3 gap-3">

    @if (PaymenMethod=="Cash") {
    <p class="flex justify-between w-full">
        <span class="flex flex-col text-secondary">
            Change to return :
        <span class="text-primary">Don’t worry! Our team will ensure you get the correct change.</span>
        </span> 
        <span class="font-bold">{{clientChange}}</span>
    </p>
    }

    <p *ngIf="PaymenMethod" class="flex justify-between">
        Payment method : <span class="font-bold text-secondary">{{PaymenMethod ?? "Still no payment"}}</span>
    </p>
    
    <p *ngIf="FullPrice$ | async as fullPrice;" class="w-full flex justify-between">
        <span class="text-secondary font-bold text-xl">Full Price:</span>
         <span class="font-bold text-xl text-secondary">${{ fullPrice ?? 0}}</span>
      </p>
      
      <p class="text-gray-700 flex justify-between" *ngIf="OrderData$ | async as orderData">
        <span class="relative flex flex-col">
            <ng-icon class="absolute -left-6 top-1" name="faPaperPlane"></ng-icon>
            <span class="text-secondary">Estimated preparation time:</span>
            <span>We’ll notify you once your order is ready for pickup or delivery!</span>
        </span>
        <span class="font-bold text-green-400">{{ orderData.total_preparation_time }}</span>  
    </p>


    @if (PaymenMethod) {
            <app-order-button></app-order-button>
    }


      



</div>