<div
  class="bg-white p-4 rounded-xl shadow-xl w-[85vw] h-[90vh] absolute left-2/4 top-2/4 translate-x-[-50%] translate-y-[-50%] m-auto"
>
  <div *ngIf="OrderData$ | async as orderData" class="w-full h-full">
    <!-- Main Content -->
    <div *ngIf="orderData.meals.length > 0; else noOrders" class="w-full h-full flex gap-10">
      <!-- Orders Section -->
      <div class="w-2/5 h-full flex flex-col gap-6 roboto">
        <div>
          <h2 class="font-bold italic text-3xl">Orders</h2>
        </div>
        <app-meal-holder-order-page [meals]="orderData.meals"></app-meal-holder-order-page>
      </div>

      <!-- Payment and Info Section -->
      <app-payment-and-info-holder></app-payment-and-info-holder>
    </div>
  </div>

  <!-- Fallback Content -->
  <ng-template #noOrders>
    <div class="flex items-center justify-center w-full h-full">
      <p class="text-gray-500 text-xl">No Orders yet</p>
    </div>
  </ng-template>
</div>
